@charset 'utf-8';
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1b141a;
};

@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?65855134');
      src: url('./font/fontello.eot?65855134#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?65855134') format('woff'),
           url('./font/fontello.ttf?65855134') format('truetype'),
           url('./font/fontello.svg?65855134#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
  .demo-icon
  {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal; 
  }

  .hover-effects {
    margin: 0;
    padding: 0;
    display: flex;
    
    a {
      width: 100px;
      height: 100px;
      margin: 0 10px;
      display: inline-block;
      position: relative;
      border-radius: 50%;
      box-sizing: border-box;
      background: #fff;
      text-align: center;
      line-height: 100px;
      text-decoration: none;
      color: #fff;
      background: #000;
      font-size: 36px;
      z-index: 20;
    &::before,&::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        border-radius: 50%;
        filter: blur(20px);
        opacity: 0;
        transition: 1s;
      }  
      &::after {
        filter: blur(40px);
      }
      &:hover::before,&:hover::after {
        opacity: 1;
      }
      &.demo-icon {
        text-shadow: 0 2px 5px rgba(0,0,0,.2);
        transition: 0.5s;
        transform: rotateY(0deg) scale(0.8);
        opacity: 0.5;
        &:hover {
          transform: rotateY(0deg) scale(1.2);
          opacity: 1;
        }
      }
      
      &:nth-child(1)
      ,&:nth-child(1)::before,
      &:nth-child(1)::after {
        color: #59a6f3;
        background: linear-gradient(45deg, #ff0057, #e64a19);
      }
      &:nth-child(2),
      &:nth-child(2)::before,
      &:nth-child(2)::after {
        color: rgb(252, 9, 9);
        background: linear-gradient(45deg, #89ff00, #00bcd4);
      }
      &:nth-child(3),
      &:nth-child(3)::before,
      &:nth-child(3)::after {
        background: linear-gradient(45deg, #e91e63, #5d02ff);
      }
      &:nth-child(4),
      &:nth-child(4)::before,
      &:nth-child(4)::after {
        color: rgb(150, 150, 252);
        background: linear-gradient(45deg, #ff0000, #ffc107);
      }
    }

  }