@charset 'utf-8';
$times: 0,0.2,0.4,0.6,0.8,1.0;
$times-index: 0;
.loading-bar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2196f3;

  span {
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background: #2196f3;
    animation: animate 1.5s linear infinite;
    // animation: animate 1.5s linear infinite;

    @each $time in $times {
      $times-index: $times-index + 1;
      &:nth-child(#{$times-index}) {
        animation-delay: #{$time}s;
      }
    }

  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translateX(-50px) scale(.8);
  }
  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    transform: translateX(0px) scale(1.2);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translateX(50px) scale(.8);
  }
}